@import '../../scss/constants';

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 64px;
  font-weight: 300;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 32px;
  color: $material-54;
  // font-weight: 300;
}
