// Material
$material-04: rgba(0, 0, 0, 0.04);
$material-08: rgba(0, 0, 0, 0.08);
$material-12: rgba(0, 0, 0, 0.12);
$material-34: rgba(0, 0, 0, 0.34);
$material-54: rgba(0, 0, 0, 0.54);
$material-67: rgba(0, 0, 0, 0.67);
$material-87: rgba(0, 0, 0, 0.87);

// Colors
$black: #000;
$white: #fff;
$green: #76ff98;
$blue: #82b1ff;
$teal: #aaf8df;
$purple: #5a5ac0;
$pink: #ff8383;
$red: #fc6060;

// Sizes
$border-radius: 4px;
$normal: 16px;
$box-shadow: 0 0 7px $material-12;
$page-margin: 16px;
